.pokemon-details-section {
    padding-bottom: 40px;
}

.data-container {
    position: relative;
    margin-top: 85px;
    margin-left: 3%;
    box-shadow: 2px 2px 15px 2px #200034c9, inset 2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 10px solid yellow;
    height: 80vh;
    width: 0;
    transition: opacity .6s ease-in, width .6s ease-in;
}
  
.data-container.active {
    width: 80vw;
}

.data-header {
    min-width: 100%;
    border-bottom: 2px solid white;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in;
}

.data-header.active{
    opacity: 1;
}

.pokemon-name {
    font-family: 'Visitor', sans-serif;
    font-size: 45px;
    color: yellow;
    margin: 0;
}

.pokemon-details-img {
    width: 420px;
    position: absolute;
    right: 3%;
    top: 135px;
}

.data-body {
    font-family: 'Visitor', sans-serif;
    color: yellow;
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: opacity .4s ease-in;
}

.data-body.active{
    opacity: 1;
}

.details-data {
    font-size: 22px;
}

.details-data span{
    margin-right: 20px;
    color: white
}

.stats {
    margin-top: 20px;
}

.stats h2 {
    margin: 0;
}

.text-data {
    display: flex;
    flex-direction: column;
}

.abilities-container {
    font-size: 22px;
    margin-left: 15px;
    margin-right: 470px;
    margin-bottom: 15px;
}

.abilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 300px));
}

.data {
    display: flex;
    flex-direction: row;
}

.ability p {
    color: white;
    font-size: 18px;
}

.empty-abilities {
    width: 300px;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .data-container.active {
        max-width: 70vw;
        height: auto;
    }
    .data {
        flex-direction: column;
        margin-right: 10px;
    }
    .abilities {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 20px;
    }
    .abilities-container {
        font-size: 22px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .pokemon-details-img {
        right: 6%;
    }
    .radar {
        transform: scale(95%);
    }
}

@media (max-width: 1110px) {
    .data-header {
        margin-bottom: 410px;
    }
    .data-container {
        width: 70vw;
        min-width: 465px;
    }
    .pokemon-details-img {
        right: 18%;
    }
    .text-data {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .general-data {
        margin-bottom: 35px;
    }
    .stats {
        margin-top: 0;
        margin-right: 20px;
    }
    .radar {
        transform: scale(105%);
    }
}

@media (max-width: 900px) {
    .pokemon-details-img {
        width: 400px;
        right: 12%;
    }
    .text-data {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 700px) {
    .pokemon-details-img {
        right: 6%;
    }
}