.search-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searched-container {
    margin-top: 20px;
    border-top: 1px solid white;
    width: 89vw;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.result-search {
    font-family: 'Visitor', sans-serif;
    color: white;
    font-size: 20px;
}

.result-search span {
    color: yellow;
}