.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(180deg, rgb(209, 0, 42) 0%, rgba(255,0,0,1) 80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 20px solid yellow;
    font-family: 'Visitor', sans-serif;
    color: white;
    font-size: 23px;
    z-index: 1;
    box-shadow: 0px 0px 20px #010052ad;
    transform: translateY(-70%);
    transition: transform .4s ease, border .2s ease-in-out;
}

.nav-bar:hover{
    transform: translateY(0);
    border-bottom: 5px solid yellow;
}

.nav-bar ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    flex-direction: row;
    transition: opacity .5s ease-in-out;
    padding: 0;
  }
  
.nav-bar li {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: color .3s ease-in-out, box-shadow .2s ease-in-out;
    padding: 7px 20px 5px 20px;
}

.nav-bar li:hover{
    color: yellow;
    background-color: red;
    box-shadow: inset 0px 0px 8px 1px rgb(255, 255, 129);
}

.nav-bar li {
    border-right: 1px solid #ffffff;
}

.nav-bar li:first-child {
    border-left: 1px solid #ffffff;
}

@media screen and (min-width: 500px) {
    .nav-bar ul{
        padding-left: 5%;
    }
}