.pokemons-list {
    display: flex;
    justify-content: center;
    width: calc(100vw - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1vw));
    gap: 1.8rem;
    padding-inline-start: 0px;
    margin: 40px auto;
    padding-bottom: 40px;
}