.pokemons-list {
    display: flex;
    justify-content: center;
    width: calc(100vw - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1vw));
    gap: 1.8rem;
    padding-inline-start: 0px;
    margin: 30px auto;
    padding-bottom: 40px;
}

.empty-search {
    font-family: 'Visitor', sans-serif;
    color: white;
    font-size: 20px;
}

.empty-search span {
    color: yellow;
}